force-app/main/default/flows/Update_User_Credentials_Before_Saving.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>UserCredentialCombination</name>
        <dataType>String</dataType>
        <expression>{!$Record.User__c}&amp;&quot;|&quot;&amp;{!$Record.Credential__c}</expression>
    </formulas>
    <interviewLabel>Update User Credentials Before Saving {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Credentials Before Saving</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_External_ID</name>
        <label>Update External ID</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Update_Region</targetReference>
        </connector>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>UserCredentialCombination</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Region</name>
        <label>Update Region</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.User__r.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_External_ID</targetReference>
        </connector>
        <object>User_Credential__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
